VITE_API_BASE_URL=http://localhost:8080
VITE_OPENAPI_URL=http://localhost:8080/v3/api-docs

VITE_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/user/dashboard
VITE_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/user/dashboard

VITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
